@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using RESTfull.Domain

<div class="form-container">
    <input @bind="newFaculty" placeholder="Факультет" />
    <input @bind="newYear" placeholder="Номер курса" />

    <button class="custom-button" @onclick="AddGroup">Добавить новую группу</button>
</div>

@code {
    private string newFaculty;
    private int newYear;

    [Parameter]
    public EventCallback<string> OnAddGroup { get; set; }

    private async Task AddGroup()
    {
        var group = new Group
            {
                Faculty = newFaculty,
                Year = newYear

            };
        newFaculty = "";
        newYear = 0;

        await Http.PostAsJsonAsync("https://localhost:7108/api/Group", group);
    }
}