@page "/AddGroup"
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using RESTfull.Domain

<PageTitle>Добавление преподвателя</PageTitle>

<h1>Добавление нового преподавателя</h1>

<AddLecturerComponent OnAddLecturer="ToMessage" />

@code {
    string Message { get; set; } = "";

    void ToMessage(string message1)
    {
        Message = message1;
        Console.WriteLine(Message);
    }
}
