@page "/set-params-async/{Param?}"

@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using RESTfull.Domain

<h3>Список занятий</h3>
<p>@MessageAdd</p>

@if (fulfil && Lessons == null)
{
    <p>Пользователи отсутствуют.</p>
}
else if (!fulfil && Lessons == null)
{
    <p>Идет загрузка...</p>
}

@if (Lessons != null)
{
    <table>
        <tr>
            <th>Id</th>
            <th>Тип занятия</th>
            <th>Тема</th>
        </tr>
        @foreach (var lessons in Lessons)
        {
            <tr>
                <td>@lessons.Id</td>
                <td>@lessons.LessonType</td>
                <td>@lessons.Topic</td>
                @*<td><a class="custom-button" href="EditLesson/@lessons.Id">Изменить данные</a></td>*@
                <td><a class="custom-button" href="AddDiscipline">Добавить дисциплину</a></td>
                <td><button class="delete-button" @onclick="() => DeleteLesson(lessons.Id)">Удалить ученика</button></td>
            </tr>
        }
    </table>
}

@code {
    [Parameter]
    public string MessageAdd { get; set; }

    private IEnumerable<Lesson> Lessons;
    private bool fulfil = false;

    protected override async Task OnParametersSetAsync() =>
        Lessons = await Http.GetFromJsonAsync<Lesson[]>
            ("https://localhost:7108/api/Lesson");

    protected override async Task OnInitializedAsync()
    {
        Lessons = await Http.GetFromJsonAsync<IEnumerable<Lesson>>
            ("https://localhost:7108/api/Lesson");
        fulfil = true;
    }

    public EventCallback<string> OnDeleteLesson { get; set; }

    private async Task DeleteLesson(int ID)
    {
        Console.WriteLine(ID);
        await Http.DeleteAsync("https://localhost:7108/api/Lesson/" + ID);
    }
}
