@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using RESTfull.Domain

<div class="form-container">
    <input @bind="newSurname" placeholder="Фамилия" />
    <input @bind="newName" placeholder="Имя" />
    <input @bind="newMiddleName" placeholder="Отчество" />

    <button class="custom-button" @onclick="AddLecturer">Добавить нового лектора</button>
</div>

@code {
    private string newSurname;
    private string newName;
    private string newMiddleName;

    [Parameter]
    public EventCallback<string> OnAddLecturer { get; set; }

    private async Task AddLecturer()
    {
        var lecturer = new Lecturer
            {
                Surname = newSurname,
                Name = newName,
                MiddleName = newMiddleName


            };
        newSurname = "";
        newName = "";
        newMiddleName = "";

        await Http.PostAsJsonAsync("https://localhost:7233/api/Lecturer", lecturer);
    }
}