<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Реестр занятий</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Список занятий
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addDiscipline">
                <span class="oi oi-plus" aria-hidden="true"></span> Дисциплина
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addLecturer">
                <span class="oi oi-plus" aria-hidden="true"></span> Преподаватель
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addLesson">
                <span class="oi oi-plus" aria-hidden="true"></span> Добавить занятие
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listdiscipline">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Список дисциплин
            </NavLink>
        </div>
    
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
